<tr>
	<th scope="row" class="text-center"><%= order.id %></th>
  <td><%= order.user %></td>
  <td class="text-center"><%= order.product_orders.count %></td>
  <td class="text-center"><%= order.status %></td>
  <td class="text-right"><%= number_to_currency order.product_orders.total %></td>
  <td class="text-center"><%= link_to 'Ver Detalle', admin_order_path(order), class: 'btn btn-info'  %> <%= link_to 'Eliminar', admin_order_path(order), method: :delete, class: 'btn btn-danger'  %></td>
</tr>