<h2 class="display-4 m-t-md m-b-md">Olvidaste tu contraseña?</h2>
<div class="row">

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'col-md-4' }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="form-group">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
	  </div>

	  <div class="actions">
	    <%= f.button class: 'btn btn-warning' do %>
	            Restablecer contraseña
	            <span class="glyphicon glyphicon-chevron-right"></span>
	          <% end %>
	  </div>
	<% end %>
</div>

<hr>

<div class="row">
  <div class="col-md-6">
    <%= render "devise/shared/links" %>
  </div>
</div>
