<tr>
	<th scope="row"><%= product.id %></th>
  <td><%= best_in_place product, :name, url:[:admin, product], inner_class: 'form-control' %></td>
  <td><%= best_in_place product, :description, as: :textarea, display_with: :truncate, url:[:admin, product], inner_class: 'form-control' %></td>
  <td><%= best_in_place product, :price, display_with: :number_to_currency, url:[:admin, product], inner_class: 'form-control' %></td>
  <td><%= best_in_place product, :stock, url:[:admin, product], inner_class: 'form-control' %></td>
  <td><%= best_in_place product, :category_id, as: :select, collection: Category.all.map {|c| [c.id, c.name]}, place_holder: "#{product.category}", url:[:admin, product], inner_class: 'form-control' %></td>
  <td><%= product.likes.count %></td>
  <td><%= link_to 'Show', admin_product_path(product) %></td>
  <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
  <td><%= link_to 'Destroy', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>