<div class="col-md-4 mw">
  <div class="card">
    <%= image_tag(product.image_url, class: 'card-img-top img-responsive') if product.image? %>
    <div class="card-block">
      <h3 class="card-title"><%= product.name %></h3>
      <p class="card-subtitle text-muted"><strong>Categoria: </strong><%= product.category %></p>
      <p class="card-text"><%= truncate product.description, length: 125, omission: '... (mas)', separator: ' ' %></p>
      <p class="card-text"><strong><%= number_to_currency product.price %></strong></p>
      <p class="card-text">
        <%= link_to 'Ver', product, class: 'btn btn-info' %>
        <% unless product.stock < 1 %>
        <%= link_to 'Añadir al carro', add_to_cart_product_path(product), class: 'btn btn-success' if can? :add_to_cart, Product %>
        <% else %>
        <span class="btn btn-warning disabled">Sin stock</span>
        <% end %>
      </p>
    </div>
  </div>
</div>