<div class="row">
	<div class="col-md-6">
		<div class="card text-center">
		  <div class="card-header">
		    <%= review.user %>
		  </div>
		  <div class="card-block">
		    <p class="card-text"><%= review.content %></p>
		    <p class="card-text">Likes: <%= review.likes.count %></p>
		    <%= button_to like_product_review_path(@product, review), method: :get, class: 'btn btn-primary' do %>
		    	<% if review.liked_by? current_user %>
		    		Unlike
		    		<span class="icon-thumbs-down"></span>
		    	<% else %>
		    		Like
		    		<span class="icon-thumbs-up"></span>
		    	<% end %>
		    <% end %>
		  </div>
		  <div class="card-footer text-muted">
		    <%= time_tag review.created_at, time_ago_in_words(review.created_at) %>
		  </div>
		</div>
	</div>
</div>